@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Vlog</h1>

    <p>This is where you can find all the latest blog posts.</p>
    <img src="~/images/blog-hosting-sites.jpg" alt="A beautiful landscape" width="500">



</div>
